<div class="container-xl px-4">
  <div class="wh-footer__inner">
    <div class="wh-footer__brand">
      <a class="wh-navbar__logo navbar-brand" href="/">
        <span class="wh-navbar__logo-img">WotLK HD Client</span>
      </a>
      <p class="wh-footer__note">
        <span data-t="footer.note1">Non-commercial</span><br>
        <span data-t="footer.note2">Not affiliated with Blizzard Entertainment</span>
      </p>
    </div>
    <nav class="wh-footer__links" aria-label="Footer navigation">
      <a class="wh-footer__link" href="#" data-t="nav.home">Home</a>
      <a class="wh-footer__link" href="#/patches" data-t="nav.patches">Patches</a>
      <a class="wh-footer__link" href="#/download" data-t="nav.download">Download</a>
      <a class="wh-footer__link" href="#/pb" data-t="nav.patchbuilder">Patch Builder</a>
      <a class="wh-footer__link" href="https://discord.gg/Gyb9Z252vt" target="_blank" data-t="nav.discord">Discord</a>
    </nav>
  </div>
</div>